<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Ganjil Genap</title>
</head>
<body>
    <h1>Menentukan Bilangan Ganjil atau Genap</h1>
    <h3>Inputkan angka awal dan akhir</h3>
    <form action="#" th:action="@{/}" th:object="${ggModel}" method="POST">
        <input type="text" th:field="*{a}"/>
        <input type="text" th:field="*{b}"/>
        <p><input type="submit" class="button" name="cari" value="Cari Tahu"/></p>
        <table border="2">
            <tr>
                <th>Angka</th>
            </tr>
            <tr th:each="hasil : ${hasil}">
                <td th:text="${hasil}">&nbsp;</td>
            </tr>
        </table>
    </form>
</body>
</html>