<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Hitung Vokal</title>
</head>
<body>
    <h1>Menentukan Huruf Vokal yang terpakai</h1>
    <h3>Masukkan kalimat dibawah</h3>
    <form action="#" th:action="@{/}" th:object="${vModel}" method="POST">
        <textarea rows="5" cols="50" th:field="*{kalimat}"></textarea>
        <p><input type="submit" class="button" name="cari" value="Cari Tahu"/></p>
        <table cellpadding="3">
            <tr th:each="hasil : ${hasil}">
                <th th:text="${hasil}">&nbsp;</th>
            </tr>
        </table>
    </form>
</body>
</html>