<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<div align="center">
    <h1>Data Company</h1>
    <a href="/company/new">Create New Company</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${listCompany}">
            <td th:text="${company.id}">ID</td>
            <td th:text="${company.nama}">Nama Perusahaan</td>
            <td th:text="${company.alamat}">Alamat</td>
            <td>
                <a th:href="'company/edit/' + ${company.id}">Edit</a>
                &nbsp; &nbsp; &nbsp;
                <a th:href="'company/delete/' + ${company.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>