<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<div align="center">
    <h1>Data Employee</h1>
    <a href="/employee/new">Create New Employee</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Nama Atasan</th>
                <th>Company</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${listEmployee}">
                <td th:text="${employee.id}">ID</td>
                <td th:text="${employee.nama}">Nama</td>
                <td th:text="${employee.atasanId}">Atasan ID</td>
                <td th:text="${employee.companyId}">Company ID</td>
                <td>
                    <a th:href="'employee/edit/' + ${employee.id}">Edit</a>
                    &nbsp; &nbsp; &nbsp;
                    <a th:href="'employee/delete/' + ${employee.id}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>