<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Kalkulator</title>
</head>
<body>
    <h1>Kalkulator Sederhana</h1>
    <form action="#" th:action="@{/}" th:object="${opModel}" method="POST">
        <input type="text" th:field="*{a}"/>
        <input type="text" th:field="*{b}"/>
        <p>
            <input type="submit" class="button" name="tambah" value="+"/>
            <input type="submit" class="button" name="kurang" value="-"/>
            <input type="submit" class="button" name="kali" value="*"/>
            <input type="submit" class="button" name="bagi" value="/"/>
        </p>
        <h1><p th:text="'Hasil : ' + ${hasil}"/></h1>
    </form>
</body>
</html>